#loadMore img,
.call_button a,
a.button_full,
a.button_small {
    background-color: #e4b000
}

.btn-blue,
.btn-dorange,
.btn-orange {
    font-family: ""Helvetica Neue",Helvetica,Arial,sans-serif"
}

a,
blockquote span {
    color: #e4b000
}

.logo h2 {
    color: #4a250a;
    line-height: 50px!important
}

h2.page_title {
    border-bottom: 3px #e4b000 solid
}

#loadMore,
#pages_maincontent h3,
.post_date {
    color: #e4b000
}

.commentform input.form_submit,
.contactform input.form_submit,
.loginform input.form_submit {
    background-color: #839109
}

.ui-btn.ui-checkbox-on.ui-btn-b::after,
.ui-page-theme-b .ui-btn.ui-btn-active,
.ui-page-theme-b .ui-checkbox-on::after,
.ui-page-theme-b .ui-flipswitch-active,
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-checkbox-on::after,
html .ui-bar-b .ui-flipswitch-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-checkbox-on::after,
html .ui-body-b .ui-flipswitch-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-checkbox-on::after,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active,
html head+body .ui-btn.ui-btn-b.ui-btn-active {
    background-color: #e4b000;
    border-color: #e4b000;
    color: #FFF;
    text-shadow: 0 1px 0 #e4b000;
    opacity: 0!important;
}

.slide_info {
    color: #f1d989
}

.ui-overlay-a {
    background-color: #fff
}

#homepage,
#homepage .ui-panel-wrapper {
    background-color: #e4b000
}

.secondarypage,
.secondarypage .ui-panel-wrapper {
    background-color: #fff
}

.main-nav ul li a,
.main-nav ul li a:hover,
.main-nav ul li a:visited {
    color: #fff
}

.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
    overflow: visible;
    background-color: #d5dce2;
    color: #4a250a
}

.ui-body-b,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html .ui-panel-page-container-b,
html body .ui-group-theme-b .ui-body-inherit {
    background-color: #DD1D21!important;
    color: #fff;
    text-shadow: none
}

.ui-back {
    background-color: #fff!important;
    max-width: 50px
}

.user_details {
    background-color: #9c6e3e
}

.user-nav ul li {
    border-bottom: 1px #9c6e3e solid
}

span.icon-size {
    font-size: 30px!important
}

.bk_color {
    background: #fff!important;
    color: #000!important
}

.product-info img {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
        padding: 6px;
}

.cart-table img {
    height: auto;
    width: 100%;
    max-width: 120px
}

.wrapper {
    max-width: auto;
    padding: 0 20px 40px;
    margin: auto
}

.ui-page-theme-b .ui-body-inherit {
    background-color: #fff;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 1px 0 #111
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .product-info img {
        width: auto;
        margin: 0 auto
    }
    .portlet-body{
        margin-top: 0px;
    }
    .marginize_bottom,
    .product-info {
        /*margin-bottom: 8px;*/
        border: 1px #868787 double;
    }
    /*.overflw{
        height: 960px!important;
    }*/
    .main-nav ul li {
        /*padding: 120px 0!important;*/
        width: 100%
    }
    .shop-btn {
        padding: 0 29px 0 20px!important
    }
    .main-nav ui-panel-page-content-position-left {
        max-width: 150px!important
    }
    .nav_right_button a img {
        max-width: 25px
    }
    .nav_right_button span {
        margin-left: 10px
    }
    .dual-btns {
        width: 100%;
        max-width: 410px;
        margin: 0 auto;

    }
    #back_shopping,
    #checkout {
        height: 50px
    }
    .bottom a {
        width: 200px;
        font-size: 12px;
        margin-left: 10px
    }
    #cart-main {
        width: 610px;
        height: auto;
        max-height: 500px
    }
    #cart-main ul li img {
        width: 100px;
        margin-left: 20px
    }
    #cart-main .description label {
        font-size: 20px
    }
    #cart-main .position input {
        width: 100px
    }
    #cart-main .total {
        font-size: 15px
    }
    .nav_right_button span {
        font-size: 20px
    }
    #cart-main .description .closeit {
        width: 30px;
        height: 30px;
        line-height: 35px
    }
    .btn_cart_minus i, .btn_cart_plus i{
        font-size: 10px!important;
        margin-left: -1px!important;
    }
    .ui-back{
        max-width: 103px;
    }
    #left-panel{
        width: 10em;
        margin-top: 100px;
}


    }
    .ui-panel-page-content-position-left{
        left: 0;
    }
    .ui-header-fixed, .ui-footer-fixed{
        width: 100%;
    }
    .search input{
        width: 300px;
    }
    .search .ui-back{
        max-width: 300px!important;
    }
    .search{
        width: 300px;
    }
    .nav_right_button{
        margin-right: 15px;
    }
    .main-nav ul{
        max-width: 10em!important;
    }
    /*.main-nav ul li span.classic {
        margin-top: 10px!important;
        margin-left: 5px;
        font-size: 16px!important;
    }*/
}

@media only screen and (min-width:768px) and (max-height:1024px) {
    .dual-btns {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        margin-left: 90px
    }
    #back_shopping,
    #checkout {
        height: 50px
    }
}

@media only screen and (min-width:1024px) {
    .dual-btns {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    #back_shopping,
    #checkout {
        height: 50px
    }
}

@media only screen and (max-width:800px) and (max-height:1280px) {
    /*.main-nav ul li {
        padding: 100px 0!important
    }*/
    .product-thumb {
        /*border: 1px solid rgba(153, 153, 153, .46);*/
        max-width: 160px;
        margin: 0 auto;
        border-radius: 4px;
        height: 145px;
        /*max-height: 140px;*/
        padding-top: 15px;
        z-index: 999
    }
    .product-info img {
        height: auto;
        width: 180px;
        margin: 0 auto;
        max-height: 140px;
        min-height: 140px;
        max-width: 150px;
        min-width: 150px;
    }
    /*.ullist{
    overflow-x: auto;
    max-height: 650px;
    }*/
    .product-price {
        font-size: 20px;
        color: #1f1f1f;
        display: table;
        margin: 0 auto;
        font-weight: 800
    }
    .wrapper {
        margin-left: -200px;
        padding: 0 134px 31px
    }
    .btn-wdt {
        max-width: 198px!important
    }
    .main-nav ul li span {
        margin-top: -35px
    }
    .main-nav ul li span.classic {
        margin-top: 10px!important;
        margin-left: 5px;
        font-size: 10px;
    }
    .portlet-body{
        margin-left: 155px;
    }
    .dual-btns{
        margin-left: 140px
    }
}

@media only screen and (min-width:1200px) and (min-height:1920px) {
    .main-nav ul li {
        padding: 90px 0!important
    }
    .wrapper {
        margin-left: 55px;
        margin-bottom: -41px
    }
    .nav_right_button a {
        padding: 0;
        margin-top: 10px
    }
}

@media only screen and (min-width:600px) and (min-height:1024px) {
    .main-nav ul li {
        padding: 70px 0!important ;
        height: 0
    }
}

@media only screen and (max-width:500px) and (max-height:100px) {
    .main-nav ul li {
        height: 10px
    }
}

@media only screen and (min-width:300px) and (min-height:600px) {
    /*.main-nav ul li {
        height: 150px
    }*/
    /*.ullist{
        max-height: 200px;
        overflow-x: auto;
    }*/
}

@media only screen and (max-width:360px) and (max-height:640px) {
    .main-nav ul li {
        padding: 50px 0!important
    }
    .icon-size {
        margin-top: -30px
    }
}

@media only screen and (max-width:412px) and (max-height:740px) {
    /*.main-nav ul li {
        padding: 50px 0!important;
        height: 100px;
        width: 90%
    }*/
    .icon-size {
        margin-top: -30px
    }
    .main-nav ul li img{
        max-width: 100%;
        margin-left: 18px;
    }
}

@media only screen and (min-width:320px) and (max-height:570) {
    .main-nav ul li {
        padding: 55px 0!important;
        height: 20px;
        width: 100%;
    	max-width: 80px;
    }
    .icon-size {
        margin-top: -30px
    }
    .wrapper {
        margin-left: 60px
    }
}

@media only screen and (min-width:414px) and (max-height:750px) {
    .main-nav ul li {
        padding: 50px 0!important;
        width: 100%;
        height: 130px
    }
    .icon-size {
        margin-top: -30px
    }
    .wrapper {
        padding: 0 195px 90px;
        margin: auto auto auto 160px;
        width: auto
    }
    .jcarousel ul li {
        width: 800px!important
    }
    
}

@media only screen and (max-width:360px) and (max-height:640px) {
    .cart-main h5 {
        font-family: ""Helvetica Neue",Helvetica,Arial,sans-serif";
        font-size: 24px;
        color: #fff;
        background-color: #40a5ea!important;
        border: none;
        font-weight: 400;
        text-align: center;
        margin: 0 0 25px
    }
}

@media only screen and (min-width:360px) and (min-height:640px) {
    .cart-main h5 {
        font-family: ""Helvetica Neue",Helvetica,Arial,sans-serif";
        font-size: 24px;
        color: #fff;
        background-color: #40a5ea!important;
        border: none;
        font-weight: 400;
        text-align: center;
        margin: 0 0 25px
    }
}

@media only screen and (min-width:300px) and (min-height:540px) {
    .cart-bottom ul li {
        font-family: ""Helvetica Neue",Helvetica,Arial,sans-serif";
        font-size: 20px;
        font-weight: bolder
    }
    #subtotal,
    #total {
        float: right
    }
}

.main-nav ul {
    max-width: 6em;
    position: fixed
}

.btn-orange {
    background-color: #008443!important
}

.btn-dorange {
    background-color: #EB8705!important
}

.btn-blue {
    background-color: #009EB4!important
}

.add_info .ui-back {
    max-width: 200px!important;
    color: #000;
    text-shadow: none!important;
    border: 1px solid
}

.add_info textarea {
    min-height: 180px!important;
    color: #000!important;
    margin-bottom: 40px;
    text-shadow: none!important;
    border: 1px solid!important
}

.ui-footer.ui-bar-inherit {
    background-color: #fff;
    opacity: .85;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    margin-top: 10px
}

.basket_img,
.basket_img_top {
    width: 36px!important
}

.basket_img_top,
.basket_img_top_cart {
    height: auto!important;
    margin-top: -18px!important
}

.header_total {
    color: #fff;
    /*font-family: ""Helvetica Neue",Helvetica,Arial,sans-serif"*/
}

.basket_img {
    height: auto!important;
    float: left!important;
    margin-right: 6px!important
}

.basket_img_top_cart {
    width: 42px!important
}

.search .ui-back {
    max-width: 180px
}

.button.ui-btn-inline,
.ui-footer button.ui-btn,
.ui-header button.ui-btn {
    background-color: #009EB4
}

.btn_cart_minus {
    background-color: #DD1D21!important
}

.btn_cart_minus,
.btn_cart_plus {
    float: left;
    margin-top: -1px;
    border-color: transparent!important
}

.btn_cart_minus i,
.btn_cart_plus i {
    font-size: 12px;
    margin-left: -4px
}

table.cart-table tr td div.ui-back {
    float: left
}

.btm_logo {
    height: 30px
}

.banner_footer {
    margin-top: 10px;
    background: #333;
    color: #d1d1d1
}

.btn-green {
    background-color: #008443!important;
    font-family: ""Helvetica Neue",Helvetica,Arial,sans-serif"
}

.fontsize20 {
    font-size: 20px!important
}

.bdr {
    border: 1px solid
}

.data_back {
    background-color: transparent!important;
    border: none;
    font-size: 30px
}


.upper-header{
	background-color: #40a5ea!important; 
}
@media only screen and (max-width:500px) {
    .fontsize20 {
        font-size: 13px
    }
    .wrapper {
        margin-bottom: -52px;
        margin-top: -35px
    }
}

@media only screen and (min-width:768px) and (max-height:1024px) {
    .nav_right_button span {
        margin-left: 0;
        font-size: 15px
    }
    .nav_right_button a img {
        margin-bottom: -12px
    }
}

@media only screen and (min-width:320px) and (min-height:568px) {
    .shop-btn {
        padding: 0 14px 0 5px!important
    }
}


/*     new css              */

.overflw {
    height: 970px;
    overflow-y: auto!important;
    background: #fff!important

}


/*     end new css         */

@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .nav_right_button span {
        margin-left: 0;
        font-size: 20px
    }
    .nav_right_button a img {
        margin-bottom: -11px;
        margin-right: 5px
    }
    .wrapper {
        margin-left: 115px;
        padding: 0 35px 31px
    }
    .jcarousel ul li {
        width: 600px!important
    }
    span.icon-size{
        font-size: 40px!important;
    }
    .main-nav ul li img{
        margin-left: 40px;
        max-width: 90%;
    }
}

/*@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {


    #left-panel{
        margin-top: 100px;
        height: 200px
    }
    .portlet-body{
        margin-top: 0px;
    }
}*/

@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

    .ullist{
        max-height: 870px!important;
        overflow-x: auto;
    }
    .portlet-body{
        margin-top: 0px;
    }
    .product-info{
        height: 220px
    }
    .main-nav ul li span.classic {
        margin-top: 10px!important;
        margin-left: 5px;
        font-size: 16px;
    }
    .main-nav ul li img{
        margin-left: 40px!important;
    max-width: 90%!important;
    }
    .ui-panel{
        min-height: 90%!important;
    }
}

@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 
    .ullist{
        max-height: 460px!important;
        overflow-x: auto;
    }
    .portlet-body{
        margin-top: 0px;
        /*width: 80%;*/
    }
    .product-info{
        height: 200px
    }
    .main-nav ul li span.classic {
        margin-top: 10px!important;
        margin-left: 5px;
        font-size: 16px;
    }
    .main-nav ul li{
        width: 90%
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    .main-nav ul li span.classic {
        /*margin-top: 10px!important;*/
        margin-left: 5px;
        font-size: 10px!important;
    }
    .main-nav ul li{
        width: 60%;
    }
    #left-panel{
        margin-top: 100px;
    }
    .div_left_head{
        display: none
    }
    .main-nav ul li img{
        max-width: 100%!important;
    margin-left: 22px!important;
    }
    .ullist{
        max-height: 620px!important;
        overflow-x: auto;
    }

}

.main-nav ul li img{
    max-width: 100%;
    margin-left: 100%;
}
.ullist{
    max-height: 650px;
    overflow-x: auto;
}
#left-panel{
    margin-top: 48px;
}


@media screen 
  and (device-width: 320px) 
  and (device-height: 710px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

    .ullist{
        max-height: 200px!important;
        overflow-x: auto;
    }

}

/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .ullist{
        max-height: 900px!important;
        overflow-x: auto;
    }
   

}*/
.close_btn{
    width: 45px!important;
    float: right;
    line-height: 5px;
    background-color: #fff!important;
    color: #000!important;
    border-color: #fff!important;
}

div.ui-checkbox label.ui-btn{
    background-color: #3598dc;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 650px!important;
    }
}
.ui-icon-check::after{
    opacity: 0!important;
}
.ui-btn.ui-checkbox-off:after{
    opacity: 0!important;
}
.ui-checkbox-on{
    background-color: #e10c18!important;
    border-color: #7b2815!important;
}
/*.ui-btn.ui-checkbox-on.ui-btn-b::after{
    opacity: 0!important;
}*/
.ui-checkbox input{
    top:30%!important;
}
/*.rtag .recall{
    margin-left: -50px!important;
    margin-top: 60px!important;
}*/
.marks-green{
    position: absolute;
    /*background: url(img/markerRG2.png) left top no-repeat;*/
    width: 50px; 
    height: 50px;
    margin-left: -15px; 
    margin-top: -15px; 
    z-index: 100; 
    display: block; 
    cursor: pointer;
    background-color: #54bc7b!important;
}
.marks-red{
    position: absolute;
    /*background: url(img/markerRG2.png) left bottom no-repeat;*/
    background-position: 0px ; 
    width: 50px; 
    height: 50px;
    margin-left: -15px; 
    margin-top: -15px; 
    z-index: 2000;
    display: block; 
    cursor: pointer;
    background-color: #e10c18!important;
}

.marks-orange{
    position: absolute;
    /*background: url(img/markerRG2.png) left bottom no-repeat;*/
    width: 50px; 
    height: 50px;
    margin-left: -15px; 
    margin-top: -15px; 
    z-index: 2000;
    display: block; 
    cursor: pointer;
    background-color: #da5d06!important;
}
.retag{
    position: absolute!important;
    cursor: crosshair;
    top: 115px;
    z-index: 200;
    width: 850px!important;
    height: 838px!important;
}
.recall{
    margin-bottom: 30px!important;
    margin-left: 5px!important
}

#ajxtable{
    color: #464545!important;
}
.btn.blue:not(.btn-outline){
    border-color:#3982b4!important;
}
.new-mod-background{
    background-color: #3598dc!important;
    border-color: #3598dc!important;
}